/HW1/HW1.X/nbproject/private/
/HW1/HW1.X/build/default/
/HW1/HW1.X/dist/default/
/HW4/HW4SPI.X/nbproject/private/
/HW4/HW4SPI.X/build/default/
/HW4/HW4SPI.X/dist/default/
/HW5/HW5.X/nbproject/private/
/HW5/HW5.X/build/default/
/HW5/HW5.X/dist/default/
/HW5/HW6.X/nbproject/private/
/HW6/HW6.X/nbproject/private/
/HW6/HW6.X/build/default/
/HW6/HW6.X/dist/default/
/HW7/HW7/nbproject/private/
/HW7/HW7/build/default/
/HW7/HW7/dist/default/